{{include './header'}}

<div class="music-toggle music-toggle_on"></div>
<div id="pages">

    <div class="content" data-id="0">
        <div class="woman"></div>
        <div class="text-container container_style1">
            <p>“妇女是武职文明和精神文明的创造者，是推动社 会发展和进步的重要力量。没有妇女，就没有人类，就没有社会。”
            </p>
            <p>——习近平总书记谈妇女</p>
        </div>
        <a href="#2" data-index="2" class="btn swipe"></a>
    </div>


    <div class="content" data-id="1">
        <div class="logo"></div>
        <div class="text-container container_style2">
            湖北省总工会女职工委员会为您收集到<span>{{count}}</span>份祝福，祝您节日快乐，永远美丽！
        </div>
        <a href="#3" data-index="3" class="btn swipe"></a>
    </div>


    <div class="content" data-id="2">
        <div class="text-container container_style3">
            <div class="send-tag"></div>
            <ul id="text-scroll" class="text-scroll">
                {{each list as value i}}
                    <li><span>{{value.from}}</span>送给<span>{{value.to}}</span>一朵{{value.flower}}</li>
                {{/each}}
            </ul>
        </div>
        <a href="#4" data-index="4" class="btn send-btn"></a>
    </div>


    <div class="content" data-id="3">
        <div class="text-container container_style4">
            祝愿
            <input name="name" type="text" placeholder="(她的名字)">：
        </div>

        <div class="send-flower">
            <div class="left"></div>
            <div class="send-flower_img"></div>
            <div class="right"></div>
        </div>

        <div class="text-container container_style5">
            <span>插花：<br /></span>
            <textarea name="flower" rows="8" cols="40">99朵现在就爱你99分，剩一分明天再爱你。 爱你爱你
            </textarea>
        </div>
        <a href="#5" data-index="5" class="btn send-generate"></a>
    </div>


    <div class="content" data-id="4">
        <div class="send-to-text">
            祝愿：<span></span>
        </div>
        <div class="send-postcard">
            <p class="send-postcard-text">
                99朵现在就爱你99分，剩一分明天再爱你。
                <br /> 插花插花
            </p>
        </div>
        <div class="send-submit"></div>
    </div>
</div>
<div class="share share_off">
    <div class="share-cover"></div>
    <div class="share-content"></div>
</div>


{{include './footer'}}
