{{include './header'}}

<div class="music-toggle music-toggle_on"></div>
<div class="content content_on" data-id="4">
    <div class="send-to-text">
        祝愿：<span>{{toName}}</span>
    </div>
    <div class="send-postcard send-postcard_img{{flowerId}}">
        <p class="send-postcard-text">
            {{content}} </br> {{fromName}}
        </p>
    </div>
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx81d075add9f24883&redirect_uri=http%3a%2f%2fwww.xu1s.com&response_type=code&scope=snsapi_userinfo&state=ENTER#wechat_redirect" class="send-btn"></a>
</div>


{{include './footer'}}
